<h2>{{titulo}}</h2>
<ul>
    <li *ngFor='let empleado of empleados; let i = index'>
        Empleado {{i+1}}
        <ul [ngSwitch]='empleado.color'>
            <li>{{empleado.nombre}}</li>
            <li *ngIf='empleado.contratado'>Está contratado</li>
            <li *ngIf='!empleado.contratado'>No está contratado</li>
            <li *ngSwitchCase="'red'" [ngStyle]="{'color': empleado.color}">Color</li>
            <li *ngSwitchCase="'blue'" [ngStyle]="{'color': empleado.color}">Color</li>
            <input type="text" [(ngModel)]='empleado.color_elegido'/>
            <li [ngStyle]="{'color': empleado.color_elegido}">{{empleado.color_elegido}}</li>
        </ul>
    </li>
</ul>